@use "../abstracts" as abs;

.nav__button {
	cursor: pointer;
	border: none;
	background-color: abs.$cl-purple;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-family: inherit;
	font-size: 1.6rem;
	font-weight: abs.$fw-small;
	padding: 1.4rem 2rem;
	color: abs.$cl-white;
	border-radius: 0.8rem;
	align-self: center;

	&-icon {
		font-size: 1.6rem;
		font-weight: abs.$fw-large;
	}
}
