@use "../abstracts" as abs;

.nav__button {
	cursor: pointer;
	border: none;
	background-color: abs.$cl-purple;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	font-family: inherit;
	font-size: 1.6rem;
	font-weight: abs.$fw-small;
	padding: 1.4rem 2rem;
	color: abs.$cl-white;
	border-radius: 0.8rem;
	align-self: center;

	&-icon {
		font-size: 1.6rem;
		font-weight: abs.$fw-large;
	}
}

.department__button {
	cursor: pointer;
	width: 15rem;
	height: 4rem;
	border-radius: 0.6rem;
	border: none;
	background-color: abs.$cl-purple;
	box-shadow: 0px 1px 1px 0px rgba(123, 123, 123, 0.16);
	color: abs.$cl-white;
	font-weight: abs.$fw-small;
	font-size: 1.4rem;
}
