// COLORS
$cl-white: #fff;
$cl-white-2: #f6f6f6;

$cl-grey: #cdcfd4;
$cl-grey-2: #9aa0a8;
$cl-grey-3: #4f5867;
$cl-grey-4: #45464b;
$cl-grey-5: #94979e;
$cl-grey-6: #a6acb8;
$cl-grey-7: #61677f;

$cl-red: #ff3d3d;

$cl-purple: #8146ff;

// FONT-FAMILY
$ff-inter: "Inter", sans-serif;

// FONT-WEIGHT
$fw-tiny: 400;
$fw-small: 500;
$fw-medium: 600;
$fw-large: 700;
