// COLORS
$cl-white: #fff;
$cl-white-2: #f6f6f6;

$cl-grey: #cdcfd4;
$cl-grey-2: #9aa0a8;
$cl-grey-3: #4f5867;
$cl-grey-4: #45464b;
$cl-grey-5: #94979e;
$cl-grey-6: #a6acb8;
$cl-grey-7: #61677f;
$cl-grey-8: #5f6868;
$cl-grey-9: #737b7b;

$cl-red: #ff3d3d;
$cl-red-2: #f26e6e;

$cl-green: #4cb050;
$cl-green-2: #56c456;

$cl-light-grayish-orange: #f2e7e1;
$cl-light-grayish-orange-2: #f8e7e7;
$cl-light-grayish-orange-3: #fff5f5;

$cl-light-grayish-pink: #ece9ea;
$cl-light-grayish-pink-2: #f5f2fc;
$cl-light-grayish-pink-3: #f5fbf5;

$cl-purple: #8146ff;
$cl-light-purple: #db48ff;
$cl-blue: #579aff;
$cl-pink: #ff447c;
$cl-orange: #ff805d;
$cl-dark-blue: #191635;

// FONT-FAMILY
$ff-inter: "Inter", sans-serif;

// FONT-WEIGHT
$fw-tiny: 400;
$fw-small: 500;
$fw-medium: 600;
$fw-large: 700;
