@use "../abstracts" as abs;

.main {
	--gap: 3rem;
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 29.9rem 1fr;
	gap: var(--gap);
	padding: var(--gap);
}

.department {
	grid-column: 1 / -1;
	background-color: abs.$cl-white;
	padding: 3rem;
	border-radius: 1.4rem;
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2rem;
	}

	&__p {
		font-size: 1.8rem;
		color: abs.$cl-dark-blue;
		font-weight: abs.$fw-small;
	}
}
